.container {
  width: 1240px;
  height: 100%;
  margin:0 auto;
  padding:  0 20px;
  background-color: #fff;
}
.title{
  font-family: sans-serif;
  font-size: 52px;
  font-weight:800;
  text-transform: uppercase;
  text-align:center;
}
.pakemon__list{
  width: 90%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 25px;
  list-style: none;
  background-color: wheat;
}
.pakemon__item{
  width: 190px;
  margin: 20px auto;
}
.wrapper{
  text-align: center;
  border-radius: 8px;
  border: 1px solid #333;
}
.footer{
  width: 100%;
  padding: 25px 0;
}
.footer-dec{
  font-size: 18px;
  color:#000;
  letter-spacing: 1px;
  text-align:center;
  opacity: 0.8;
}
